extends layout.pug

block header
    meta(property="og:description" content=fullText)
    meta(property="og:image" content=imgSrc)

block content
    div.container
        div.row.justify-content-center
            div.col-sm.d-flex.justify-content-center
                img(src=imgSrc width=600)
        div.row.justify-content-center.mt-3
            div.col-sm.d-flex.justify-content-center
                div #{fullText}
